<div class="container">
    <div class="hero-container my-hero">
        <h3>{{ selectedHero.name }}</h3>
        <img [src]="selectedHero.image.url" class="hero-portrait" />
        <div class="statsContainer">
            <div
                class="statsCards"
                *ngFor="let item of selectedHero.powerstats | keyvalue"
            >
                <div class="statCard">
                    <p class="stat-key">
                        {{ item.key }}
                    </p>
                    <p>{{ item.value }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-container">
        <h3>{{ selectedHero.name }}</h3>
        <h2 class="start" (click)="startBattle()">START</h2>
        <h3>{{ opponentHero.name }}</h3>
        <div class="power-ups-container">
            <div class="power-ups" *ngFor="let item of powerUps; let i = index">
                <div
                    *ngIf="item.uses"
                    class="power-up"
                    (click)="usePowerUp(item, i)"
                    [class.active]="powerIndex === i"
                >
                    <img [src]="item.img" class="powerUp-item" />
                    <p>{{ item.uses }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <h3>{{ opponentHero.name }}</h3>
        <img [src]="opponentHero.image.url" class="hero-portrait" />
        <div class="statsContainer">
            <div
                class="statsCards"
                *ngFor="let item of opponentHero.powerstats | keyvalue"
            >
                <div class="statCard">
                    <p class="stat-key">
                        {{ item.key }}
                    </p>
                    <p>{{ item.value }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="res">
    <div class="innerModal">
        <h4>{{ durration }}</h4>
        <h3>{{ result }}</h3>
    </div>
</div>
