.nav {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.element {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.logo {
    cursor: pointer;
}
.contact {
    width: 150px;
}
.fight:hover {
    font-size: 26px;
}
