<div class="form">
    <form [formGroup]="logInForm">
        <div class="element">
            <label>Enter your email:</label>
            <input type="emial" formControlName="email" name="email" />
        </div>
        <div class="element">
            <label>Enter your password: </label>
            <input type="password" formControlName="password" name="password" />
        </div>
        <div class="element">
            <button type="submit" (click)="onLogIn()" class="submit-btn">
                Log In
            </button>
        </div>
        <div class="element">
            <a routerLink="/sing-up">Create account here!</a>
        </div>
    </form>
</div>
