.container {
    border: 1px solid black;
    width: 100%;
    margin: 15px;
}
.head {
    border: 1px solid black;
    width: 100%;
}

.innerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 15px;
}
.start {
    display: block;
    margin: 5px;
}

.selectButton {
    height: 50%;
}
img {
    width: 80px;
}
.statItem {
    margin: 15px;
}
