<div class="container">
    <div class="head">
        <h5>{{ hero.name }}</h5>
    </div>
    <div class="innerBody">
        <div class="img-div">
            <img [src]="hero.image.url" />
        </div>

        <div class="stats">
            <div class="stat" *ngFor="let stat of hero.powerstats | keyvalue">
                <p class="statItem">{{ stat.key }}: {{ stat.value }}</p>
            </div>
        </div>
        <button class="selectButton" (click)="changeHeroSelection()">
            {{ selected ? 'Deselect' : 'Select' }}
        </button>
        <button class="selectButton" (click)="viewHero()">View Hero</button>
    </div>
</div>
<hr />
