<div class="container">
    <button (click)="sortByHero()">sort hero</button>
    <button (click)="sortByOpponent()">sort opponent</button>
    <button (click)="sortByDate()">sort date</button>
    <button (click)="sortByResult()">sort result</button>
    <div
        class="element"
        *ngFor="let item of historyItems; trackBy: trackByIndex"
    >
        <p>{{ item.hero }} vs {{ item.opponent }}</p>
        <p>{{ item.result }}</p>
        <p>{{ item.date | date: 'short' }}</p>
    </div>
</div>
