.container {
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
}
.element {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.disabled {
    background-color: gray;
    pointer-events: none;
}
