.container {
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
}
.element {
    border: 1px solid black;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.disabled {
    background-color: gray;
    pointer-events: none;
}
.power-element {
    width: 200px;
    text-align: center;
}
img {
    width: 60px;
    height: 60px;
}
